/* .page-content-wrapper .content {
  padding-left: 0 !important;
} */

.displayBackendErrorMsg.error small {
  /* visibility: visible; */
  display: block;
  color: #e74c3c;
}
.signingMessage small {
  display: block;
  text-align: center;
  color: green;
  display: none;
}

#successfulRequest {
  display: block;
  text-align: center;
  color: green;
  text-transform: capitalize;
}
#modalNotifcation {
  display: none;
}

.labelDescription {
  display: block;
}

#subscriberProfileForm {
  border-right: 2px solid #f4f4f4;
}

#subscriberProfileForm input {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  pointer-events: none;
}

#activateUsersButton {
  background: none;
  color: green;
  display: none;
}

#deactivateUsersButton {
  background: none;
  color: red;
  display: none;
}
