#ticket-body {
  width: 100%;
  height: 100%;
  border: none;
}

#alert {
  position: absolute;
  top: 68px;
  right: 10px;
  z-index: 100 !important;
  max-width: 400px;
  transition: all 0.8s ease-in-out;
}

.slide {
  margin-right: -500px;
}

#error-message {
  color: #ff0000;
  display: block;
  margin-bottom: 20px !important;
}

#replies {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#replies p {
  background-color: grey;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  max-width: 65%;
}

#replies .user {
  align-self: flex-end;
  background-color: #008000;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  max-width: 65%;
}

#reply-message {
  display: flex;
}

#reply-message input {
  flex: 1;
  padding: 10px;
}

#reply-message button {
  background-color: #323237;
  color: #fff;
  border: none;
  border-radius: 3px;
}
