.page-content-wrapper .content {
  padding-left: 0 !important;
}
.displayBackendErrorMsg {
  margin-top: 60px;
}

.displayBackendErrorMsg.error small {
  display: block;
  color: #e74c3c;
  display: block;
  text-align: center;
}
.signingMessage small {
  display: none;
  text-align: center;
  color: green;
}

#resendForm {
  display: none;
  margin-top: 20px;
}

#successfulRequest {
  display: block;
  text-align: center;
  color: green;
  text-transform: capitalize;
}

.changEmail {
  display: flex;
  justify-content: space-between;
}
.changEmail span {
  color: #6d5eac;
  cursor: pointer;
}
