#modalNotifcation {
  display: none;
}

.deactivateButton {
  border: none;
  color: red;
  background: none !important;
}

.editSubcribers {
  cursor: pointer;
}

.signingMessage small {
  display: block;
  text-align: center;
  color: green;
  visibility: hidden;
}

#tableWithSearch thead tr th {
  text-align: center;
}

#tableWithSearch tbody tr td {
  text-align: center;
}
